{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Signup" %}{% endblock %}

{% block inner %}

<h1>{% translate "Sign Up" %}</h1>

<p>{% blocktranslate %}Already have an account? Then please <a class="szLink" href="{{ login_url }}">sign in</a>.{% endblocktranslate %}</p>
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
<p>{% blocktranslate %}You can also sign in with your social account:{% endblocktranslate %}</p>
<div class="socialaccount_ballot">

  <div class="socialaccount_providers d-flex justify-content-start me-3">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </div>

  {# <div class="login-or">{% translate "or" %}</div>#}

</div>
{% endif %}

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="szButton btn btn-primary" type="submit">{% translate "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
