<section class="py-5">
  <div class="container">
    <h2 class="text-center mb-5">
      <i class="bi bi-question-circle-fill text-primary me-2"></i>Frequently Asked Questions
    </h2>
    <div class="col-md-8 mx-auto">
      <div class="accordion" id="faqAccordion">
        <!-- FAQ Item 1 -->
        <div class="accordion-item mb-3">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne">
              <strong>I've updated my calendar on the site, but the changes aren't showing up in my Google Calendar. Why is this?</strong>
            </button>
          </h2>
          <div id="collapseOne"
               class="accordion-collapse collapse"
               aria-labelledby="headingOne"
               data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              Google Calendar typically updates external calendars every 12-24 hours. Additionally, it caches events.
              This means even if you make immediate changes or delete and re-add the calendar, you might still see
              the old data until Google refreshes its cache. Please be patient and allow some time for updates to reflect.
            </div>
          </div>
        </div>
        <!-- FAQ Item 2 -->
        <div class="accordion-item mb-3">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo">
              <strong>Can I bulk add events?</strong>
            </button>
          </h2>
          <div id="collapseTwo"
               class="accordion-collapse collapse"
               aria-labelledby="headingTwo"
               data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              While our platform doesn't currently have a feature for bulk event addition, you can contact
              the developer to assist with adding events in bulk. Please note that this specialized service
              will come with a fee.
            </div>
          </div>
        </div>
        <!-- FAQ Item for Customizable Alarm Times -->
        <div class="accordion-item mb-3">
          <h2 class="accordion-header" id="headingCustomAlarm">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseCustomAlarm"
                    aria-expanded="false"
                    aria-controls="collapseCustomAlarm">
              <strong>How do I set custom alarm times for hebrew events?</strong>
            </button>
          </h2>
          <div id="collapseCustomAlarm"
               class="accordion-collapse collapse"
               aria-labelledby="headingCustomAlarm"
               data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              Customizing alarm times is now possible on MyHebrewDates! Simply append <code>?alarm=HOUR</code>
              to the end of an calendar's URL. Here's how:
              <ul>
                <li>
                  For a 9 AM alarm: Add <code>?alarm=9</code> to the URL.
                </li>
                <li>
                  For a 7 AM alarm: Change it to <code>?alarm=7</code>.
                </li>
                <li>
                  To get an alert the night before at 9 PM: Use <code>?alarm=-3</code>.
                </li>
              </ul>
              This feature allows you to personalize your event reminders to a time that suits you best.
            </div>
          </div>
        </div>
        <!-- FAQ Item for Merging Multiple Created Calendars -->
        <div class="accordion-item mb-3">
          <h2 class="accordion-header" id="headingMergeCalendars">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseMergeCalendars"
                    aria-expanded="false"
                    aria-controls="collapseMergeCalendars">
              <strong>How can I merge two or more of my created calendars into one?</strong>
            </button>
          </h2>
          <div id="collapseMergeCalendars"
               class="accordion-collapse collapse"
               aria-labelledby="headingMergeCalendars"
               data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              To consolidate events from multiple calendars you've created into a single calendar view,
              use a tool like <a href="https://mergecal.org/"
    target="_blank"
    rel="noopener noreferrer">MergeCal</a>.
              This helps streamline your event management by providing one comprehensive calendar.
              Here's a simple guide:
              <ol>
                <li>
                  Visit <a href="https://mergecal.org" target="_blank" rel="noopener noreferrer">MergeCal</a>.
                </li>
                <li>Select the individual calendars you wish to merge.</li>
                <li>Create a unified calendar link to add to your calendar application.</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- FAQ Item for Syncing Newly Added Calendar in Google Calendar App -->
        <div class="accordion-item mb-3">
          <h2 class="accordion-header" id="headingSyncNewCalendar">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseSyncNewCalendar"
                    aria-expanded="false"
                    aria-controls="collapseSyncNewCalendar">
              <strong>I added the calendar to my Google Calendar, but it doesn't show up in the Google Calendar app. What should I do?</strong>
            </button>
          </h2>
          <div id="collapseSyncNewCalendar"
               class="accordion-collapse collapse"
               aria-labelledby="headingSyncNewCalendar"
               data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              If your newly added calendar isn't appearing in the Google Calendar app, follow these steps
              to sync it manually:
              <ol>
                <li>Open the Google Calendar app and tap the three bars on the top left to access the menu.</li>
                <li>
                  Tap <strong>Refresh</strong> to update your calendar feeds.
                </li>
                <li>
                  After refreshing, tap on <strong>Settings</strong> in the menu.
                </li>
                <li>
                  Under your Google account, find the newly added calendar. It should be listed under
                  the account you used to add it.
                </li>
                <li>
                  Select the calendar and then enable <strong>Sync</strong> to ensure it updates and
                  displays in your app.
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
