{% extends "base.html" %}

{% block content %}
<!-- Main content -->
<header class="bg-light py-5">
	<div class="container text-center">
		<h1 class="display-4">About My Hebrew Dates</h1>
		<!-- <p class="lead">Create Subscribable Hebrew Event Calendars with Ease!</p> -->
		<p class="lead">Add Hebrew dates to your Google, Apple, or Outlook calendar with the click of a button!</p>
	</div>
</header>
<hr/>

<section class="py-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h2>About Us</h2>
				<p>My Hebrew Dates is a platform designed to make it simple and convenient for families to create
					personalized
					Hebrew event calendars.
					We understand the importance of keeping track of Hebrew dates, such as birthdays and anniversaries,
					and we
					want to help you celebrate
					these special occasions with your loved ones.</p>
			</div>
			<div class="col-lg-6">
				<h2>About the Developer</h2>
				<p><a class="szLink" href="https://www.linkedin.com/in/abe101/">Abe Hanoka</a> is the creator of My
					Hebrew
					Dates. He developed this platform to address
					a common problem he faced personally: the lack of an easy way to save and share recurring Hebrew
					date events.
					With his expertise in software development,
					Abe designed My Hebrew Dates to be a user-friendly tool for managing Hebrew calendars. His goal is
					to help
					individuals and families effortlessly track and
					celebrate their important Hebrew dates.</p>
			</div>
		</div>
	</div>
	<div class="container text-center">
		<div class="szBlock">
			<a class="szButton btn btn-primary btn-lg"
				href="mailto:abe@myhebrewdates.com?subject=Feedback%20on%20MyHebrewDates">
				<i class="bi bi-envelope"></i>
				Get in touch
			</a>
		</div>
		<div class="szBlock">
			<a class="szButton btn btn-primary btn-lg" href="https://github.com/abe-101/myHebrewDates">
				<i class="bi bi-github"></i> GitHub
			</a>
		</div>
		<div class="szBlock">
			<a class="szButton btn btn-primary btn-lg" href="https://discord.gg/2vqUzSpt6N">
				<i class="bi bi-discord"></i> Discord
			</a>
		</div>
	</div>
</section>

<section class="py-5">
	<div class="container">
		<h2 class="text-center mb-4">FAQs</h2>

		<div class="col-md-8 mx-auto">
			<div class="accordion" id="faqAccordion">

				<!-- FAQ Item 1 -->
				<div class="accordion-item mb-3 shadow">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<strong>I've updated my calendar on the site, but the changes aren't showing up in my Google Calendar. Why is this?</strong>
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
						<div class="accordion-body">
              Google Calendar typically updates external calendars every 12-24 hours. Additionally, it caches events. This means even if you make immediate changes or delete and re-add the calendar, you might still see the old data until Google refreshes its cache. Please be patient and allow some time for updates to reflect.
            </div>
					</div>
				</div>

				<!-- FAQ Item 2 -->
				<div class="accordion-item mb-3 shadow">
					<h2 class="accordion-header" id="headingTwo">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							<strong>Can I bulk add events?</strong>
						</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
						<div class="accordion-body">
              While our platform doesn't currently have a feature for bulk event addition, you can contact the developer to assist with adding events in bulk. Please note that this specialized service will come with a fee.
						</div>
					</div>
				</div>

				<!-- Add more FAQ items as needed -->

			</div>
		</div>
	</div>
</section>


{% endblock %}
