{% extends "base.html" %}

{% block content %}
<!-- Main content -->
<div class="container mt-4">
  <h1>Welcome to MyHebrewDates!</h1>
  <p>Never miss an important Hebrew date again. MyHebrewDates is a web application that allows you to save and manage
    important Hebrew dates, such as birthdays, anniversaries, and yartzeits. </p>
  <p>The webapp provides users with an iCal file containing all of their saved dates, which they can subscribe to into
    their preferred calendar application.</p>
  <p>Please note that this application is currently under development and is not yet available to the public.</p>
</div>
{% endblock %}
