<div id="calendar-table">
  <!-- Calendar Table -->
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Hebrew Day
            <button hx-get=""
              class="btn btn-sm"
              hx-vals='{"sort": "day", "order": "{% if dayDesc %}asc{% else %}desc{% endif %}"}'
              hx-target="#calendar-table"
              hx-push-url="true">
              <i class="bi bi-arrow-{% if dayDesc %}down{% else %}up{% endif %}"></i>
            </button>
          </th>
          <th>Hebrew Month
            <button hx-get=""
              class="btn btn-sm"
              hx-vals='{"sort": "month", "order": "{% if monthDesc %}asc{% else %}desc{% endif %}"}'
              hx-target="#calendar-table"
              hx-push-url="true">
              <i class="bi bi-arrow-{% if monthDesc %}down{% else %}up{% endif %}"></i>
            </button>
          </th>

          <th>Event Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for hebrewDate in hebrew_dates %}
        <tr>
          <td>{{ hebrewDate.get_formatted_name }}</td>
          <td>{{ hebrewDate.get_day_display }}</td>
          <td>{{ hebrewDate.get_month_display }}</td>
          <td>
            <span class="badge badge-pill badge-secondary">
              {{ hebrewDate.event_type }}
            </span>
          </td>
          <td>
            <a href="{% url 'hebcal:calendar_edit' uuid=hebrewDate.calendar.uuid %}" class="btn btn-sm btn-primary">
              <i class="bi bi-pencil"></i> Edit
            </a>
            <button type="button" class="btn btn-sm btn-danger">
              <i class="bi bi-trash"></i> Delete
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
