<tr id="hebrew-date-{{ hebrew_date.pk }}">
  <td>{{ hebrew_date.get_formatted_name }}</td>
  <td>{{ hebrew_date.get_day_display }}</td>
  <td>{{ hebrew_date.get_month_display }}</td>
  <td>
    <span class="badge badge-pill badge-secondary">
      {{ hebrew_date.event_type }}
    </span> {{ hebrew_date.get_event_type_display }}
  </td>
  <td>
    <button type="button"
      hx-get="{% url 'hebcal:edit_hebrew_date_htmx' uuid=hebrew_date.calendar.uuid pk=hebrew_date.pk %}"
      hx-target="closest tr"
      hx-swap="outerHTML settle:1s"
      class="btn btn-sm btn-primary">
      <i class="bi bi-pencil"></i> Edit
    </button>
    <button type="button"
      hx-post="{% url 'hebcal:delete_hebrew_date_htmx' uuid=hebrew_date.calendar.uuid pk=hebrew_date.pk %}"
      hx-target="closest tr"
      hx-swap="outerHTML settle:1s"
      hx-confirm="Are you sure you want to delete {{ hebrew_date.get_formatted_name }}?"
      class="btn btn-sm btn-danger">
      <i class="bi bi-trash"></i> Delete
    </button>
  </td>
</tr>
