{% extends "base.html" %}
{% load static %}

{% block title %}Calendars{% endblock title %}
{% block content %}

<div class="container mt-4">
  <h1 class="mb-4">{{ calendar.name }}</h1>

  <div class="row mb-3">
    <div class="col-lg-4">
      <input class="form-control" type="search"
             name="search" placeholder="Begin Typing To Search {{ calendar.name }} Calendar..."
             hx-post="{% url 'hebcal:calendar_edit' calendar.uuid %}"
             hx-trigger="input changed delay:500ms, search"
             hx-target="#calendar-table"
             hx-indicator=".htmx-indicator">


    </div>
    <div class="col-lg-8">
      <form id="filter-form"
            class="d-flex justify-content-end"
            hx-get="{{ request.path }}"
            hx-target="#calendar-table"
            hx-params="*"
            hx-trigger="change"
            hx-indicator=".htmx-indicator"
            hx-push-url="true">

        <!-- Month Filter Dropdown -->
        <div class="dropdown me-1">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMonthButton" data-bs-toggle="dropdown" aria-expanded="false">
            Month
          </button>
          <ul class="dropdown-menu p-2" aria-labelledby="dropdownMonthButton">
            {% for value, name in month_choices %}
            <li>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="month" value="{{ value }}" id="month-{{ value }}"
                      {% if value|stringformat:"s" in selected_months %}checked{% endif %}>
                <label class="form-check-label" for="month-{{ value }}">
                  {{ name }}
                </label>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <!-- Day Filter Dropdown -->
        <div class="dropdown me-1">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownDayButton" data-bs-toggle="dropdown" aria-expanded="false">
            Day
          </button>
          <ul class="dropdown-menu p-2" aria-labelledby="dropdownDayButton">
            {% for value, name in day_choices %}
              <li>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="day" value="{{ value }}" id="day-{{ value }}"
                      {% if value|stringformat:"s" in selected_days %}checked{% endif %}>
                  <label class="form-check-label" for="day-{{ value }}">
                    {{ name }}
                  </label>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

        <!-- Event Type Filter Dropdown -->
        <div class="dropdown me-1">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownEventTypeButton" data-bs-toggle="dropdown" aria-expanded="false">
            Event Type
          </button>
          <ul class="dropdown-menu p-2" aria-labelledby="dropdownEventTypeButton">
            {% for value, name in event_choices %}
              <li>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="{{ value }}" id="event-type-{{ value }}">
                  <label class="form-check-label" for="event-type-{{ value }}">
                    {{ name }}
                  </label>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
        <a href="{{ request.path }}" class="btn btn-secondary">Clear</a>
      </form>
    </div>
  </div>
      <h3>
        <span class="htmx-indicator">
            <img src="{% static 'images/bars.svg' %}" alt="loading bar" />
         </span>
      </h3>
  {% include "hebcal/_calendar_table.html" %}


</div>

<script>
  function constructMonthFilterValues() {
    let checkedValues = Array.from(document.querySelectorAll('.month-checkbox:checked')).map(checkbox => checkbox.value);
    return JSON.stringify({ 'month': checkedValues });
  }
</script>

{% endblock %}
