{% extends "base.html" %}

{% block title %}
  My Calendar
{% endblock %}

{% block content %}
  <h1>Create Calendar</h1>
  <form method="post">
    {% csrf_token %}
    {{ calendar_form.as_p }}

    {{ hebrew_date_formset.management_form }}
    {% for form in hebrew_date_formset %}
      <div class="form-row">
        {{ form.id }}
        {{ form.event_type }} {{ form.name }} {{ form.month }} {{ form.day }} Delete: {{ form.DELETE }}
      </div>
    {% endfor %}

    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Save">
    </div>
  </form>
{% endblock %}
