{% extends 'base.html' %}

{% block title %}My Calendars{% endblock %}

{% block content %}
  <h2>My Calendars</h2>
  <ul>
    {% for calendar in calendars %}
    <li><a href="{{ calendar.get_absolute_url }}">{{ calendar.name }}</a>
      <form method="post" style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="calendar_id" value="{{ calendar.id }}">
        <button type="submit" name="delete">Delete</button>
      </form>
      <div style="display: inline;">
        <input hidden id="calendar_file_url{{calendar.id}}" value="https://{{domain_name}}{% url 'hebcal:calendar_file' calendar.uuid %}">
        <button onclick="copyFileUrl({{calendar.id}})" class="btn btn-primary" type="button" title="Add this link to your calendar client">
          <i class="bi bi-clipboard-check"></i>
          Subscribe
        </button>
        <a href={% url 'hebcal:instructions' %} class="btn" type="button" data-toggle="tooltip" data-placement="bottom" title="How to Add a Calendar Feed to Google Calendar">
          <i class="bi bi-info-circle"></i>
        </a>

      </div>
    </li>

    {% empty %}
    <li>No calendars found.</li>
    {% endfor %}
  </ul>
  <h2>Create a new calendar</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create</button>
  </form>
  {% endblock %}
